body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.register {
  width: 500px !important;
}

.login {
  width: 300px !important;
  height: fit-content;
  margin-left: 10px;
}

.box {
  width: fit-content;
  border: solid 1px white;
  border-radius: 50px;
  box-shadow: 5px 5px 10px black;
  padding: 20px;
  padding-top: 5px;
  background-color: peru;
}

.box .header {
  color: white;
}

.form-input {
  display: grid;
  margin-top: 10px;
}

.form-input label {
  margin-bottom: 10px;
  color: white;
}

.form-input input {
  height: 25px;
  border: solid 1px white;
}

.button-input {
  display: grid;
  height: 40px;
  margin-top: 30px;
}

.button-input button {
  background-color: black;
  color: white;
  font-size: 15px;
  border: none;
}

.button-input button:hover {
  background-color: palevioletred;
  transition: 0.5s;
}

label[for="agreements"] {
  margin-left: 5px;
}

.agreements {
  color: white;
  margin-top: 20px;
}

.button-input button:hover {
  background-color: palevioletred;
  transition: 0.5s;
}

a.order {
  border: solid 1px;
  text-decoration: none;
  padding: 5px;
  transition: 0.5s;
}

a.order:hover {
  border-radius: 100px;
  background-color: white;
  color: rgb(0, 174, 255);
  transition: 0.5s;
  padding: 5px 20px;
}
